body {
    margin: 0;
    padding: 0;
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/008/293/881/large/lucia-manetti-ice.jpg?1511816184");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(137, 202, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#board{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
    width: 33rem;
    height: 22rem;
    margin: 3rem 4rem;
    padding: 1rem;
    border: 3px solid rgb(15, 103, 234);
    background-color: rgba(205, 229, 251, 0.7);
}

.newTiles {
    width: 3rem;
    height: 2.3rem;
    background-color: rgb(255, 255, 255);
    margin: 2px;
}

#player {
   
    /* background-image: url("/images/hero.png");
    background-repeat: no-repeat; */
    background-image: url("https://w7.pngwing.com/pngs/604/593/png-transparent-sprite-pixel-art-animated-film-walk-cycle-sprite-2d-computer-graphics-walk-cycle-timelapse-photography-thumbnail.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin: 4.5px 9px;
    width: 25px;
    height: 25px;
    top: 16px;
    right: 0px;
    bottom: 0px;
    left:16px;
}
.tomato {
    background-color: tomato;
}
#game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    color: white;
    width: 400px;
    height: 300px;
    background-color:rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 1;
}
#winner {
   
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        color: white;
        width: 400px;
        height: 300px;
        background-color:rgba(0, 0, 0, 0.8);
        display: none;
        z-index: 1;
}
